*{
    margin: 0;
    padding: 0;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0px;
}

.navbar{
    padding: 50px 0;
}

.navbar{
    padding: 50px 0;
    color: rgb(238, 16, 16);
    background-color:gold;
    
    
}

.navbar-brand{
    font-size: 1.5 cm;
    font-weight: 600;
}

.navbar-dark .navbar-brand{
    color: rgb(230, 188, 2);
    background-color: transparent;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background: rgb(230, 188, 2);
    color: #e00505;
}


.main{
    position: relative;
    background: url(sini1.png);
    min-height: 100vh;
    background-size:1000px;
    background-color:rgb(230, 188, 2);
    background-repeat: no-repeat;
    background-position: center;
    padding: 220px 0 200px;
}

#about{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.about__container{
    row-gap: 2rem;
    text-align: left;
}

.about__subtitle{
    margin-left: 100px;
    color: rgb(231, 179, 7);
}


.about__img{
    justify-self: center;
}

.about__img img{
    width: 200px;
    border-radius: .5rem;
}
.section-title{
    font-family: Verdana;
    color:rgb(54, 46, 0);
    padding-top: 50px;
}
.main1{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.78) , rgba(252, 214, 0, 0.78)), url(about.jpg) ;
    background-size:1000px;
    background-color:rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: right;
    padding: 220px o 200px;
}
.skills__container{
    row-gap: 2rem;
    text-align: center;
  }
  .section-title{
      text-align: center;
  }
  .skills__subtitle{
    margin-bottom: var(rgb(53, 45, 0));
  }
  .skills__text{
    margin-bottom: var(rgb(34, 29, 0));
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills{
    padding-bottom: 50px;
      background-color: rgb(255, 153, 0);
  }
  .skills__img{
    border-radius: .5rem;
  }
  

  #resume-id{
      min-height: 35px;
      height: auto;

  }

  .resume-id1{
      width: 154px;
      height: 40px;
  }
  .download{
      margin-left: 550px;
  }

  .cards123{
      padding-top:100px;
      border-color: white;
      margin-left: 500px;
  }
  .card{
      padding-bottom: 50px;
      background-color:yellow;
  }
  .card1{
    padding-bottom: 50px;
    padding-top: 50px;
}
.card2{
    padding-bottom: 50px;
    padding-top: 50px;
}

.list-group-item{
    text-align: center;
}

.bubble{
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, rgb(170, 200, 231) , rgb(25, 81, 138));
}

.main2{
    position: relative;
    background: url(zaya.png);
    min-height: 100vh;
    background-size:1000px;
    background-color:rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0 200px;
}

.projects{
    position: absolute;
    z-index: 10;
    width: 100%;
    color:aliceblue;
    padding-top: 35px;
    
}
.zaya{
    margin-left: 450px;
}
.video{
    margin: left 50px;
    padding-top: 5px;
}
.col1{
    margin-left: 250px;
    padding-top: 250px;
}
.col2{
    padding-top: 100px;
}

.card5{
    width:50px;
    position: relative;
    transition: transform 0.2s;
    margin: 0 auto;
    
}

.card5 img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);

}



.hello{
    margin-left: 100px;
    padding-top: 200px;
    color: aqua;
}

.aim{
    margin-left: 100px;
    color: azure;
}
.btn{
    margin-left: 50px;
}
.font_4{
    background-color: gold;

}


#contact{
    position: absolute;
    z-index: 10;
    width: 100%;
    color:aliceblue;
    padding-top: 35px;
    background-image: url(walle.jpg);
    background-size: cover;
}

.icon{
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
    height: 50px;
    width: 100px;
    margin-left: 500px;
}

.contacttext{
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
}

.resume{
    padding-top:50px;
    background-color: gold;
}


